<h1>New Products!</h1>
<% @new.each do |pro| %>
<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-96x96">
       <% !if pro.image.attached? %>
          <%= image_tag pro.image %>
        <% else %>
          <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
        <% end %>
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= link_to pro.name, pro %></strong>
          <br>
          $<%= pro.price%>
        </p>
      </div>
      <div class="content">
      <% if cart.include?(pro)%>
        <%= button_to cart_path(pro), method: :delete do %>
          Remove From Cart
        <% end %>
      <% else %>
        <%= form_with url: cart_index_path, method: :post do%>
          <%= hidden_field_tag(:id, pro.id)%>
          <%= button_tag "Add To Cart" %>
        <% end %>
      <% end %>
      </div>
    </div>
  </article>
</div>
<% end %>
<h1>Big Sale!</h1>
<% @sale.each do |product| %>
<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-96x96">
       <% !if product.image.attached? %>
          <%= image_tag product.image %>
        <% else %>
          <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
        <% end %>
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= link_to product.name, product %></strong>
          <br>
          $<%= product.price%>
        </p>
      </div>
      <div class="content">
      <% if cart.include?(product)%>
        <%= button_to cart_path(product), method: :delete do %>
          Remove From Cart
        <% end %>
      <% else %>
        <%= form_with url: cart_index_path, method: :post do%>
          <%= hidden_field_tag(:id, product.id)%>
          <%= button_tag "Add To Cart" %>
        <% end %>
      <% end %>
      </div>
    </div>
  </article>
</div>
<% end %>

