<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <% !if @product.image.attached? %>
          <%= image_tag @product.image %>
        <% else %>
          <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
        <% end %>
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= @product.name %></strong> <small>$<%= @product.price%></small>  <small><%= @product.category.name%></small>
          <br>
          <%= @product.description%>
        </p>
      </div>
       <div class="content">
      <% if cart.include?(@product)%>
        <%= button_to cart_path(@product), class:"button is-info" ,method: :delete do%>
          Remove From Cart
        <% end %>
      <% else %>
        <%= form_with url: cart_index_path, method: :post do%>
          <%= hidden_field_tag(:id, @product.id)%>
          <%= button_tag "Add To Cart", class: "button is-info"%>
        <% end %>
      <% end %>
      </div>
    </div>
  </article>
</div>
